.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-item {
  padding: 0 10px;
}

.grid-gap-md {
  margin: 0 -20px;
}

.grid-gap-md > .grid-item {
  padding: 0 20px;
}

.grid-gap-lg {
  margin: 0 -40px;
}

.grid-gap-lg > .grid-item {
  padding: 0 40px;
}

.grid-vertical-gap-md {
  margin-top: -15px;
}

.grid-vertical-gap-md > .grid-item {
  padding-top: 15px;
}