.nav {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 23px;
}

.nav-item {
  font-weight: 500;
  font-size: 18px;
  padding: 0 14px;
}

.dropbtn {
  background-color: #FF0032;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 133px;
  height: 52px;
  padding: 0 40px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(255, 0, 51);
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  margin-top: -60px;
}

.dropdown-profile {
  float: right;
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.nav-button-decoration::after, .nav-button-decoration::before, .nav-button-decoration {
  position: absolute;
  top: 55%;
  margin-top: -2px;
  margin-left: -18.5px;
  width: 37px;
  height: 4px;
  background-color: #ffffff;
}

.nav-button-decoration::before, .nav-button-decoration::after {
  display: inline-block;
  content: '';
}

.nav-button-decoration::after {
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  transform: translateY(9px);
}

.nav-button-decoration::before {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  transform: translateY(-9px);
}

@media ( min-width: 640px) {
  .dropdown {
    display: none;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}  