/* ------------------------------------------------------------universal------------------------------------------------------ */

.section {
  position: relative;  
}

.section-title {
  color: #222222;
  font-size: 42px;
  line-height: 64px;
  font-weight: bold;
}

.section-subtitle {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}


.section-background {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.section-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(6, 30, 51, 0.45);
  z-index: -1;
}

.section-foreground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------------------------------------unique------------------------------------------------------ */

/* ------------------------------------------------------------header------------------------------------------------------ */

.header-top-end .account-image {
  position: relative;
  z-index: -1;
}

.header-top-end .image {
  z-index: -1;
}

.header-top-end .account-name {
  z-index: -1;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-top-start {
  width: 50%;
}

.header-top-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header-top-center {
  width: 50%;
  text-align: end;
}

.header-top {
  padding: 30px 0 65px;
  text-align: center;
}

.header-top .account-image {
  width: 30px;
  height: 30px;
  display: inline-block;
}

@media ( min-width: 640px) {
  .header-top-start,
  .header-top-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }

  .header-top-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }  

  .header-top-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }

  .header-top {
    padding-bottom: 31px;
  }
  

}

/* ------------------------------------------------------------section-hero------------------------------------------------------ */

.section-hero {
  min-height: 450px;
  color: #fff;
  text-align: center;
  padding-top: 89px;
  padding-bottom: 85px;
}

.section-hero .section-title {
  font-size: 60px;
  color: #fff;
  margin-bottom: 25px;
}

.section-hero .section-description {
  margin-bottom: 38px;
}

.section-hero .section-middle {
  max-width: 650px;
  margin: 0 auto;
}

@media ( min-width: 640px) {
  .section-hero .section-title {
    font-size: 90px;
  }

  .section-hero {
    padding-top: 219px;
    padding-bottom: 195px;  
    min-height: 650px;

  }

  .section-title {
    color: #222222;
    font-size: 52px;
    line-height: 64px;
    font-weight: bold;
  }
  
  
}  
/* ------------------------------------------------------------section-search------------------------------------------------------ */

.section-search {
  text-align: center;
  padding-top: 86px;
  padding-bottom: 37px;
}

.section-search .section-title {
  margin-bottom: 48px;
}

/* ------------------------------------------------------------section-image------------------------------------------------------ */

.section-image > .section-image {
  max-height: 490px;
  display: block;
}

/* ------------------------------------------------------------section-populartours------------------------------------------------------ */

.section-populartours {
  background: #F2F7FF;
  padding: 94px 0;
}

.section-populartours .section-title {
  text-align: center;
  margin-bottom: 46px;
}

.section-populartours .button {
  margin: 0 auto;
  display: block;
}

.section-populartours .swiper-button-next,
.section-populartours .swiper-button-prev {
  display: none;
}

@media (min-width: 1250px) {
  .section-populartours .swiper-button-next,
  .section-populartours .swiper-button-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    color: #373F55;
    width: 46px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 50%;
  }

  .section-populartours .swiper-button-next {
    right: 5px;
  }

  .section-populartours .swiper-button-prev {
    left: 5px;
  }
}

@media (min-width: 1370px) {

  .section-populartours .swiper-button-next {
    right: 65px;
  }

  .section-populartours .swiper-button-prev {
    left: 65px;
  }

}

/* ------------------------------------------------------------section-dailytours------------------------------------------------------ */

.section-dailytours {
  padding-bottom: 93px;
  padding-top: 92px;
}

.section-dailytours .section-background {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.section-dailytours .section-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-dailytours .section-title {
  text-align: center;
  margin-bottom: 44px;
}

.section-dailytours .cards-wrapper {
  margin-bottom: 15px;
}

.section-dailytours .button {
  margin: 0 auto;
  display: block;
}

@media (min-width: 960px) {
  .section-dailytours {
    padding-bottom: 543px;
  }
  
}

/* ------------------------------------------------------------section-aboutus------------------------------------------------------ */

.section-aboutus {
  padding-top: 90px;
  padding-bottom: 85px;
}

.section-aboutus .section-title {
  text-align: center;
  margin-bottom: 48px;
}

.section-aboutus-right {
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-aboutus .section-image {
  max-height: 171px;
  margin: 0;
  display: inline-block;
}

/* ------------------------------------------------------------section-reviews------------------------------------------------------ */
.section-reviews {
  padding-top: 95px;
  padding-bottom: 166px;
  background: #F2F7FF;
}

.section-reviews .section-title {
  text-align: center;
  margin-bottom: 52px;
}

.section-reviews .swiper-button-next,
.section-reviews .swiper-button-prev {
  display: none;
}

@media (min-width: 960px) {
  .section-reviews .swiper-button-next,
  .section-reviews .swiper-button-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    color: #373F55;
    width: 46px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 50%;
    top: 78%;
  }
  
  .section-reviews .swiper-button-next {
    right: 42%;
  }
  
  .section-reviews .swiper-button-prev {
    left: 42%;
  }
}

@media (min-width: 1200px) {
  .section-reviews .swiper-button-next {
    right: 44%;
  }
  
  .section-reviews .swiper-button-prev {
    left: 44%;
  }
}


@media (min-width: 1440px) {
  .section-reviews .swiper-button-next {
    right: 47%;
  }
  
  .section-reviews .swiper-button-prev {
    left: 47%;
  }
}


/* ------------------------------------------------------------footer------------------------------------------------------ */

.section-footer {
  padding-top: 70px;
}

.section-footer,
.section-footer .section-title,
.section-footer .section-subtitle {
  color: #fff;
}

.section-footer .section-subtitle {
  margin-bottom: 17px;
}

.section-footer .section-title {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 35px;
}

.section-footer .footer-bottom {
  padding-bottom: 56px;
}

.section-footer .footer-bottom-end {
  text-align: center;
}

.section-footer .footer-bottom-center {
  text-align: end;
}

@media (min-width: 960px) {
  .section-footer .footer-bottom-end {
    text-align: end;
  }

  .section-footer .footer-bottom-center {
    text-align: center;
  }
  
    
}
